@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 11, 11, 19;
  --background-end-rgb: 11, 11, 19;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* Custom scrollbar to match the dark theme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0B0B13; 
}
::-webkit-scrollbar-thumb {
  background: #3b0764; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #581c87; 
}